section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6em;
  gap: 4em;
}

.section-card {
  gap: 2em;
}

.with-background {
  background-image: url("../img/background-4096.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

article {
  background-color: white;
  max-width: 768px;
  margin: 0 auto;
  padding: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-card {
  max-width: 384px;
  min-height: 400px;
  text-align: center;
}

.dark {
  background-color: #0d3457;
  color: #e4e8ea;
}

@media (max-width: 1024px) {
  .with-background {
    background-image: url("../img/background-1024.jpg");
  }
}

@media (min-width: 1025px) and (max-width: 2048px) {
  .with-background {
    background-image: url("../img/background-2048.jpg");
  }
}
