table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-top: 1em;
  margin-bottom: 3em;
}

tr:nth-child(odd) {
  background-color: #e1f2f7;
}

td {
  padding: 1em;
}

td:not(:first-child),
th:not(:first-child) {
  text-align: right;
}

.pricing-table {
  display: flex;
  flex-direction: column;
}

.pricing-table * {
  text-align: center;
}

.pricing-plan {
  border-bottom: 1px solid #e1f2f7;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
  min-width: 10em;
}

.pricing-header {
  color: #0d3457;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 2em;
}

.pricing-features {
  color: #2e95cc;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
  border-top: 1px solid #e1f2f7;
  border-bottom: 1px solid #e1f2f7;
  font-size: 1em;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-price {
  padding-top: 1em;
  color: #0d3457;
  display: block;
  font-size: 2em;
  font-weight: 700;
}

@media (min-width: 768px) {
  .pricing-table {
    flex-direction: row;
  }

  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f2f7;
    flex-basis: 100%;
    padding: 25px 25px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}
